root = true                     // 當前是root

[*]                             // 所有文件都使用配置
charset = utf-8                 // 編碼
indent_style = space            // 縮排空格
indent_size = 2                 // 縮排大小
end_of_line = lf                // 換行字元 (lf, crlf)
insert_final_newline = true     // 末尾加一行空行
trim_trailing_whitespace = true // 去除行尾空格